---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?departure_time=1694629400&destinations=place_id:ChIJDW4E2OtRaocR6Ny-eVsZRyY&key=<GOOG_KEY>&origins=Golden,%20CO&traffic_model=pessimistic&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Denver, CO
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"I-70, Dillon, CO
        80435, USA\"\n   ],\n   \"origin_addresses\" : \n   [\n      \"Golden, CO,
        USA\"\n   ],\n   \"rows\" : \n   [\n      {\n         \"elements\" : \n         [\n
        \           {\n               \"distance\" : \n               {\n                  \"text\"
        : \"48.1 mi\",\n                  \"value\" : 77365\n               },\n               \"duration\"
        : \n               {\n                  \"text\" : \"53 mins\",\n                  \"value\"
        : 3178\n               },\n               \"duration_in_traffic\" : \n               {\n
        \                 \"text\" : \"1 hour 6 mins\",\n                  \"value\"
        : 3945\n               },\n               \"status\" : \"OK\"\n            }\n
        \        ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Wed, 13 Sep 2023 16:00:45 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?departure_time=1694629400&destinations=place_id:ChIJy0LIeaDKa4cRW2sSTH03-bU&key=<GOOG_KEY>&origins=Golden,%20CO&traffic_model=pessimistic&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Denver, CO
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"Bridger Ct, Winter
        Park, CO 80482, USA\"\n   ],\n   \"origin_addresses\" : \n   [\n      \"Golden,
        CO, USA\"\n   ],\n   \"rows\" : \n   [\n      {\n         \"elements\" : \n
        \        [\n            {\n               \"distance\" : \n               {\n
        \                 \"text\" : \"56.6 mi\",\n                  \"value\" : 91080\n
        \              },\n               \"duration\" : \n               {\n                  \"text\"
        : \"1 hour 11 mins\",\n                  \"value\" : 4236\n               },\n
        \              \"duration_in_traffic\" : \n               {\n                  \"text\"
        : \"1 hour 24 mins\",\n                  \"value\" : 5020\n               },\n
        \              \"status\" : \"OK\"\n            }\n         ]\n      }\n   ],\n
        \  \"status\" : \"OK\"\n}"
  recorded_at: Wed, 13 Sep 2023 16:00:48 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?departure_time=1694629400&destinations=place_id:ChIJWd2U7rRQaocRllxVIFIp5Ts&key=<GOOG_KEY>&origins=Golden,%20CO&traffic_model=pessimistic&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Denver, CO
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"Dillon, CO 80435,
        USA\"\n   ],\n   \"origin_addresses\" : \n   [\n      \"Golden, CO, USA\"\n
        \  ],\n   \"rows\" : \n   [\n      {\n         \"elements\" : \n         [\n
        \           {\n               \"distance\" : \n               {\n                  \"text\"
        : \"55.3 mi\",\n                  \"value\" : 89007\n               },\n               \"duration\"
        : \n               {\n                  \"text\" : \"1 hour 6 mins\",\n                  \"value\"
        : 3954\n               },\n               \"duration_in_traffic\" : \n               {\n
        \                 \"text\" : \"1 hour 21 mins\",\n                  \"value\"
        : 4865\n               },\n               \"status\" : \"OK\"\n            }\n
        \        ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Wed, 13 Sep 2023 16:00:50 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?departure_time=1694629400&destinations=place_id:ChIJW_aKIwJaaocRr6sP37eZJ_M&key=<GOOG_KEY>&origins=Golden,%20CO&traffic_model=pessimistic&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Denver, CO
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"Keystone, CO 80435,
        USA\"\n   ],\n   \"origin_addresses\" : \n   [\n      \"Golden, CO, USA\"\n
        \  ],\n   \"rows\" : \n   [\n      {\n         \"elements\" : \n         [\n
        \           {\n               \"distance\" : \n               {\n                  \"text\"
        : \"67.7 mi\",\n                  \"value\" : 108916\n               },\n
        \              \"duration\" : \n               {\n                  \"text\"
        : \"1 hour 24 mins\",\n                  \"value\" : 5043\n               },\n
        \              \"duration_in_traffic\" : \n               {\n                  \"text\"
        : \"1 hour 44 mins\",\n                  \"value\" : 6243\n               },\n
        \              \"status\" : \"OK\"\n            }\n         ]\n      }\n   ],\n
        \  \"status\" : \"OK\"\n}"
  recorded_at: Wed, 13 Sep 2023 16:00:52 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?departure_time=1694629400&destinations=place_id:ChIJ5SL_Vd71aocRHD59U1wlA8s&key=<GOOG_KEY>&origins=Golden,%20CO&traffic_model=pessimistic&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Denver, CO
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"Breckenridge, CO
        80424, USA\"\n   ],\n   \"origin_addresses\" : \n   [\n      \"Golden, CO,
        USA\"\n   ],\n   \"rows\" : \n   [\n      {\n         \"elements\" : \n         [\n
        \           {\n               \"distance\" : \n               {\n                  \"text\"
        : \"73.7 mi\",\n                  \"value\" : 118648\n               },\n
        \              \"duration\" : \n               {\n                  \"text\"
        : \"1 hour 30 mins\",\n                  \"value\" : 5405\n               },\n
        \              \"duration_in_traffic\" : \n               {\n                  \"text\"
        : \"1 hour 56 mins\",\n                  \"value\" : 6970\n               },\n
        \              \"status\" : \"OK\"\n            }\n         ]\n      }\n   ],\n
        \  \"status\" : \"OK\"\n}"
  recorded_at: Wed, 13 Sep 2023 16:00:55 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?departure_time=1694629400&destinations=place_id:ChIJe2Rv9PdfaocR-3_TarNZh2M&key=<GOOG_KEY>&origins=Golden,%20CO&traffic_model=pessimistic&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Denver, CO
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"102 Wheeler Pl, Frisco,
        CO 80443, USA\"\n   ],\n   \"origin_addresses\" : \n   [\n      \"Golden,
        CO, USA\"\n   ],\n   \"rows\" : \n   [\n      {\n         \"elements\" : \n
        \        [\n            {\n               \"distance\" : \n               {\n
        \                 \"text\" : \"69.0 mi\",\n                  \"value\" : 111076\n
        \              },\n               \"duration\" : \n               {\n                  \"text\"
        : \"1 hour 13 mins\",\n                  \"value\" : 4401\n               },\n
        \              \"duration_in_traffic\" : \n               {\n                  \"text\"
        : \"1 hour 31 mins\",\n                  \"value\" : 5458\n               },\n
        \              \"status\" : \"OK\"\n            }\n         ]\n      }\n   ],\n
        \  \"status\" : \"OK\"\n}"
  recorded_at: Wed, 13 Sep 2023 16:00:57 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?departure_time=1694629400&destinations=place_id:ChIJ29swxmBwaocRoq1FSy3Pwqc&key=<GOOG_KEY>&origins=Golden,%20CO&traffic_model=pessimistic&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Denver, CO
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"Vail, CO 81657, USA\"\n
        \  ],\n   \"origin_addresses\" : \n   [\n      \"Golden, CO, USA\"\n   ],\n
        \  \"rows\" : \n   [\n      {\n         \"elements\" : \n         [\n            {\n
        \              \"distance\" : \n               {\n                  \"text\"
        : \"88.6 mi\",\n                  \"value\" : 142643\n               },\n
        \              \"duration\" : \n               {\n                  \"text\"
        : \"1 hour 33 mins\",\n                  \"value\" : 5588\n               },\n
        \              \"duration_in_traffic\" : \n               {\n                  \"text\"
        : \"1 hour 57 mins\",\n                  \"value\" : 7025\n               },\n
        \              \"status\" : \"OK\"\n            }\n         ]\n      }\n   ],\n
        \  \"status\" : \"OK\"\n}"
  recorded_at: Wed, 13 Sep 2023 16:00:59 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?departure_time=1694629400&destinations=place_id:ChIJLUeXah54aocRLCubAYD6EBI&key=<GOOG_KEY>&origins=Golden,%20CO&traffic_model=pessimistic&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Denver, CO
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"Beaver Creek, CO
        81620, USA\"\n   ],\n   \"origin_addresses\" : \n   [\n      \"Golden, CO,
        USA\"\n   ],\n   \"rows\" : \n   [\n      {\n         \"elements\" : \n         [\n
        \           {\n               \"distance\" : \n               {\n                  \"text\"
        : \"101 mi\",\n                  \"value\" : 162627\n               },\n               \"duration\"
        : \n               {\n                  \"text\" : \"1 hour 51 mins\",\n                  \"value\"
        : 6677\n               },\n               \"duration_in_traffic\" : \n               {\n
        \                 \"text\" : \"2 hours 17 mins\",\n                  \"value\"
        : 8247\n               },\n               \"status\" : \"OK\"\n            }\n
        \        ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Wed, 13 Sep 2023 16:01:02 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?departure_time=1694629400&destinations=place_id:ChIJYbUu1wOPaocRTDe7TMTsUhE&key=<GOOG_KEY>&origins=Golden,%20CO&traffic_model=pessimistic&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Denver, CO
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"232 Co Rd 29, Leadville,
        CO 80461, USA\"\n   ],\n   \"origin_addresses\" : \n   [\n      \"Golden,
        CO, USA\"\n   ],\n   \"rows\" : \n   [\n      {\n         \"elements\" : \n
        \        [\n            {\n               \"distance\" : \n               {\n
        \                 \"text\" : \"99.8 mi\",\n                  \"value\" : 160556\n
        \              },\n               \"duration\" : \n               {\n                  \"text\"
        : \"1 hour 45 mins\",\n                  \"value\" : 6327\n               },\n
        \              \"duration_in_traffic\" : \n               {\n                  \"text\"
        : \"2 hours 5 mins\",\n                  \"value\" : 7479\n               },\n
        \              \"status\" : \"OK\"\n            }\n         ]\n      }\n   ],\n
        \  \"status\" : \"OK\"\n}"
  recorded_at: Wed, 13 Sep 2023 16:01:05 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?departure_time=1694629400&destinations=place_id:ChIJtzbUKLpCFYcRGpheZl7SdZw&key=<GOOG_KEY>&origins=Golden,%20CO&traffic_model=pessimistic&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Denver, CO
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"23715 US-50, Salida,
        CO 81201, USA\"\n   ],\n   \"origin_addresses\" : \n   [\n      \"Golden,
        CO, USA\"\n   ],\n   \"rows\" : \n   [\n      {\n         \"elements\" : \n
        \        [\n            {\n               \"distance\" : \n               {\n
        \                 \"text\" : \"148 mi\",\n                  \"value\" : 238599\n
        \              },\n               \"duration\" : \n               {\n                  \"text\"
        : \"2 hours 42 mins\",\n                  \"value\" : 9730\n               },\n
        \              \"duration_in_traffic\" : \n               {\n                  \"text\"
        : \"3 hours 8 mins\",\n                  \"value\" : 11284\n               },\n
        \              \"status\" : \"OK\"\n            }\n         ]\n      }\n   ],\n
        \  \"status\" : \"OK\"\n}"
  recorded_at: Wed, 13 Sep 2023 16:01:07 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?departure_time=1694638400&destinations=place_id:ChIJtzbUKLpCFYcRGpheZl7SdZw&key=<GOOG_KEY>&origins=Golden,%20CO&traffic_model=pessimistic&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Denver, CO
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"23715 US-50, Salida,
        CO 81201, USA\"\n   ],\n   \"origin_addresses\" : \n   [\n      \"Golden,
        CO, USA\"\n   ],\n   \"rows\" : \n   [\n      {\n         \"elements\" : \n
        \        [\n            {\n               \"distance\" : \n               {\n
        \                 \"text\" : \"148 mi\",\n                  \"value\" : 238599\n
        \              },\n               \"duration\" : \n               {\n                  \"text\"
        : \"2 hours 42 mins\",\n                  \"value\" : 9730\n               },\n
        \              \"duration_in_traffic\" : \n               {\n                  \"text\"
        : \"3 hours 0 mins\",\n                  \"value\" : 10780\n               },\n
        \              \"status\" : \"OK\"\n            }\n         ]\n      }\n   ],\n
        \  \"status\" : \"OK\"\n}"
  recorded_at: Wed, 13 Sep 2023 16:01:10 GMT
recorded_with: VCR 6.2.0
