---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?departure_time=1726486200&destinations=place_id:ChIJDW4E2OtRaocR6Ny-eVsZRyY&key=<GOOG_KEY>&origins=Hogback%20Park-n-Ride&traffic_model=pessimistic
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Denver, CO
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"I-70, Dillon, CO
        80435, USA\"\n   ],\n   \"origin_addresses\" : \n   [\n      \"18560 US-40,
        Golden, CO 80401, USA\"\n   ],\n   \"rows\" : \n   [\n      {\n         \"elements\"
        : \n         [\n            {\n               \"distance\" : \n               {\n
        \                 \"text\" : \"70.0 km\",\n                  \"value\" : 70002\n
        \              },\n               \"duration\" : \n               {\n                  \"text\"
        : \"46 mins\",\n                  \"value\" : 2738\n               },\n               \"duration_in_traffic\"
        : \n               {\n                  \"text\" : \"53 mins\",\n                  \"value\"
        : 3186\n               },\n               \"status\" : \"OK\"\n            }\n
        \        ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Mon, 16 Sep 2024 10:00:00 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?departure_time=1726486200&destinations=place_id:ChIJy0LIeaDKa4cRW2sSTH03-bU&key=<GOOG_KEY>&origins=Hogback%20Park-n-Ride&traffic_model=pessimistic
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Denver, CO
    body:
     [...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?departure_time=1726486200&destinations=place_id:ChIJWd2U7rRQaocRllxVIFIp5Ts&key=<GOOG_KEY>&origins=Hogback%20Park-n-Ride&traffic_model=pessimistic
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Denver, CO
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"Dillon, CO 80435,
        USA\"\n   ],\n   \"origin_addresses\" : \n   [\n      \"18560 US-40, Golden,
        CO 80401, USA\"\n   ],\n   \"rows\" : \n   [\n      {\n         \"elements\"
        : \n         [\n            {\n               \"distance\" : \n               {\n
        \                 \"text\" : \"81.6 km\",\n                  \"value\" : 81644\n
        \              },\n               \"duration\" : \n               {\n                  \"text\"
        : \"59 mins\",\n                  \"value\" : 3515\n               },\n               \"duration_in_traffic\"
        : \n               {\n                  \"text\" : \"1 hour 8 mins\",\n                  \"value\"
        : 4050\n               },\n               \"status\" : \"OK\"\n            }\n
        \        ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Mon, 16 Sep 2024 10:00:05 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?departure_time=1726486200&destinations=place_id:ChIJW_aKIwJaaocRr6sP37eZJ_M&key=<GOOG_KEY>&origins=Hogback%20Park-n-Ride&traffic_model=pessimistic
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Denver, CO
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"Keystone, CO 80435,
        USA\"\n   ],\n   \"origin_addresses\" : \n   [\n      \"18560 US-40, Golden,
        CO 80401, USA\"\n   ],\n   \"rows\" : \n   [\n      {\n         \"elements\"
        : \n         [\n            {\n               \"distance\" : \n               {\n
        \                 \"text\" : \"102 km\",\n                  \"value\" : 101552\n
        \              },\n               \"duration\" : \n               {\n                  \"text\"
        : \"1 hour 17 mins\",\n                  \"value\" : 4603\n               },\n
        \              \"duration_in_traffic\" : \n               {\n                  \"text\"
        : \"1 hour 28 mins\",\n                  \"value\" : 5286\n               },\n
        \              \"status\" : \"OK\"\n            }\n         ]\n      }\n   ],\n
        \  \"status\" : \"OK\"\n}"
  recorded_at: Mon, 16 Sep 2024 10:00:07 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?departure_time=1726486200&destinations=place_id:ChIJ5SL_Vd71aocRHD59U1wlA8s&key=<GOOG_KEY>&origins=Hogback%20Park-n-Ride&traffic_model=pessimistic
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Denver, CO
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"Breckenridge, CO
        80424, USA\"\n   ],\n   \"origin_addresses\" : \n   [\n      \"18560 US-40,
        Golden, CO 80401, USA\"\n   ],\n   \"rows\" : \n   [\n      {\n         \"elements\"
        : \n         [\n            {\n               \"distance\" : \n               {\n
        \                 \"text\" : \"111 km\",\n                  \"value\" : 111285\n
        \              },\n               \"duration\" : \n               {\n                  \"text\"
        : \"1 hour 23 mins\",\n                  \"value\" : 4966\n               },\n
        \              \"duration_in_traffic\" : \n               {\n                  \"text\"
        : \"1 hour 35 mins\",\n                  \"value\" : 5710\n               },\n
        \              \"status\" : \"OK\"\n            }\n         ]\n      }\n   ],\n
        \  \"status\" : \"OK\"\n}"
  recorded_at: Mon, 16 Sep 2024 10:00:09 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?departure_time=1726486200&destinations=place_id:ChIJe2Rv9PdfaocR-3_TarNZh2M&key=<GOOG_KEY>&origins=Hogback%20Park-n-Ride&traffic_model=pessimistic
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Denver, CO
    body:
     [...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?departure_time=1726486200&destinations=place_id:ChIJ29swxmBwaocRoq1FSy3Pwqc&key=<GOOG_KEY>&origins=Hogback%20Park-n-Ride&traffic_model=pessimistic
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Denver, CO
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"Vail, CO 81657, USA\"\n
        \  ],\n   \"origin_addresses\" : \n   [\n      \"18560 US-40, Golden, CO 80401,
        USA\"\n   ],\n   \"rows\" : \n   [\n      {\n         \"elements\" : \n         [\n
        \           {\n               \"distance\" : \n               {\n                  \"text\"
        : \"135 km\",\n                  \"value\" : 135279\n               },\n               \"duration\"
        : \n               {\n                  \"text\" : \"1 hour 26 mins\",\n                  \"value\"
        : 5149\n               },\n               \"duration_in_traffic\" : \n               {\n
        \                 \"text\" : \"1 hour 41 mins\",\n                  \"value\"
        : 6054\n               },\n               \"status\" : \"OK\"\n            }\n
        \        ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Mon, 16 Sep 2024 10:00:14 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?departure_time=1726486200&destinations=place_id:ChIJLUeXah54aocRLCubAYD6EBI&key=<GOOG_KEY>&origins=Hogback%20Park-n-Ride&traffic_model=pessimistic
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Denver, CO
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"Beaver Creek, CO
        81620, USA\"\n   ],\n   \"origin_addresses\" : \n   [\n      \"18560 US-40,
        Golden, CO 80401, USA\"\n   ],\n   \"rows\" : \n   [\n      {\n         \"elements\"
        : \n         [\n            {\n               \"distance\" : \n               {\n
        \                 \"text\" : \"155 km\",\n                  \"value\" : 155263\n
        \              },\n               \"duration\" : \n               {\n                  \"text\"
        : \"1 hour 44 mins\",\n                  \"value\" : 6237\n               },\n
        \              \"duration_in_traffic\" : \n               {\n                  \"text\"
        : \"2 hours 1 min\",\n                  \"value\" : 7248\n               },\n
        \              \"status\" : \"OK\"\n            }\n         ]\n      }\n   ],\n
        \  \"status\" : \"OK\"\n}"
  recorded_at: Mon, 16 Sep 2024 10:00:17 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?departure_time=1726486200&destinations=place_id:ChIJYbUu1wOPaocRTDe7TMTsUhE&key=<GOOG_KEY>&origins=Hogback%20Park-n-Ride&traffic_model=pessimistic
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Denver, CO
    body:
     [...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?departure_time=1726486200&destinations=place_id:ChIJtzbUKLpCFYcRGpheZl7SdZw&key=<GOOG_KEY>&origins=Hogback%20Park-n-Ride&traffic_model=pessimistic
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Denver, CO
    body:
     [...]
[...]
