---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?departure_time=1694715800&destinations=place_id:ChIJDW4E2OtRaocR6Ny-eVsZRyY&key=<GOOG_KEY>&origins=Golden,%20CO&traffic_model=pessimistic&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Denver, CO
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"I-70, Dillon, CO
        80435, USA\"\n   ],\n   \"origin_addresses\" : \n   [\n      \"Golden, CO,
        USA\"\n   ],\n   \"rows\" : \n   [\n      {\n         \"elements\" : \n         [\n
        \           {\n               \"distance\" : \n               {\n                  \"text\"
        : \"48.1 mi\",\n                  \"value\" : 77365\n               },\n               \"duration\"
        : \n               {\n                  \"text\" : \"53 mins\",\n                  \"value\"
        : 3178\n               },\n               \"duration_in_traffic\" : \n               {\n
        \                 \"text\" : \"1 hour 9 mins\",\n                  \"value\"
        : 4127\n               },\n               \"status\" : \"OK\"\n            }\n
        \        ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Thu, 14 Sep 2023 13:32:37 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?departure_time=1694716700&destinations=place_id:ChIJDW4E2OtRaocR6Ny-eVsZRyY&key=<GOOG_KEY>&origins=Golden,%20CO&traffic_model=pessimistic&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Denver, CO
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"I-70, Dillon, CO
        80435, USA\"\n   ],\n   \"origin_addresses\" : \n   [\n      \"Golden, CO,
        USA\"\n   ],\n   \"rows\" : \n   [\n      {\n         \"elements\" : \n         [\n
        \           {\n               \"distance\" : \n               {\n                  \"text\"
        : \"48.1 mi\",\n                  \"value\" : 77365\n               },\n               \"duration\"
        : \n               {\n                  \"text\" : \"53 mins\",\n                  \"value\"
        : 3178\n               },\n               \"duration_in_traffic\" : \n               {\n
        \                 \"text\" : \"1 hour 10 mins\",\n                  \"value\"
        : 4191\n               },\n               \"status\" : \"OK\"\n            }\n
        \        ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Thu, 14 Sep 2023 13:32:37 GMT
recorded_with: VCR 6.2.0
