---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?departure_time=1694701800&destinations=place_id:ChIJtzbUKLpCFYcRGpheZl7SdZw&key=<GOOG_KEY>&origins=Golden,%20CO&traffic_model=pessimistic&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Denver, CO
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"23715 US-50, Salida,
        CO 81201, USA\"\n   ],\n   \"origin_addresses\" : \n   [\n      \"Golden,
        CO, USA\"\n   ],\n   \"rows\" : \n   [\n      {\n         \"elements\" : \n
        \        [\n            {\n               \"distance\" : \n               {\n
        \                 \"text\" : \"148 mi\",\n                  \"value\" : 238599\n
        \              },\n               \"duration\" : \n               {\n                  \"text\"
        : \"2 hours 42 mins\",\n                  \"value\" : 9730\n               },\n
        \              \"duration_in_traffic\" : \n               {\n                  \"text\"
        : \"3 hours 2 mins\",\n                  \"value\" : 10932\n               },\n
        \              \"status\" : \"OK\"\n            }\n         ]\n      }\n   ],\n
        \  \"status\" : \"OK\"\n}"
  recorded_at: Thu, 14 Sep 2023 13:33:53 GMT
recorded_with: VCR 6.2.0
