---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?departure_time=1694615400&destinations=place_id:ChIJtzbUKLpCFYcRGpheZl7SdZw&key=<GOOG_KEY>&origins=Golden,%20CO&traffic_model=pessimistic&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
           "destination_addresses" : [],
           "error_message" : "departure_time is in the past. Traffic information is only available for future and current times.",
           "origin_addresses" : [],
           "rows" : [],
           "status" : "INVALID_REQUEST"
        }
  recorded_at: Wed, 13 Sep 2023 16:05:22 GMT
recorded_with: VCR 6.2.0
