---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?departure_time=1726545200&destinations=place_id:ChIJtzbUKLpCFYcRGpheZl7SdZw&key=<GOOG_KEY>&origins=Hogback%20Park-n-Ride&traffic_model=pessimistic
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Denver, CO
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"23715 US-50, Salida,
        CO 81201, USA\"\n   ],\n   \"origin_addresses\" : \n   [\n      \"18560 US-40,
        Golden, CO 80401, USA\"\n   ],\n   \"rows\" : \n   [\n      {\n         \"elements\"
        : \n         [\n            {\n               \"distance\" : \n               {\n
        \                 \"text\" : \"234 km\",\n                  \"value\" : 234221\n
        \              },\n               \"duration\" : \n               {\n                  \"text\"
        : \"2 hours 37 mins\",\n                  \"value\" : 9424\n               },\n
        \              \"duration_in_traffic\" : \n               {\n                  \"text\"
        : \"2 hours 48 mins\",\n                  \"value\" : 10088\n               },\n
        \              \"status\" : \"OK\"\n            }\n         ]\n      }\n   ],\n
        \  \"status\" : \"OK\"\n}"
  recorded_at: Mon, 16 Sep 2024 10:00:00 GMT
recorded_with: VCR 6.2.0
